/* reset */
$min-width: 320px;
$max-width: 1700px;
$base-bg: #141414;
$base-font-size: 13px;
$base-line-height: 18px;
$base-font-family: "Geometria", sans-serif;
$custom-font-family: "Montserrat";
$link-color: #100da9;
$default-transition: all 0.2s linear;

/* main variables */

//text, titles
$text-color: #545454;
$title-color: #fff;
$title-font-family: $custom-font-family;

$font-size-h1: 71px;
$line-height-h1: 99px;
$font-size-h2: 76px;
$line-height-h2: 84px;
$font-size-h3: 28px;
$line-height-h3: 32px;
